.community-board-container {
    display: flex;
    margin-top: 7.5em;
    width: 100%;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    background: rgb(225, 239, 244);
    padding: 1em;
    position: fixed;
    margin-top: 3em;
}

.donation-header-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Antic Didone;
    font-size: .75em;
    background: rgb(225, 239, 244);
    width: 100%;
    position: fixed;
}

.filter-picture {
    width: 15em;
}

.all-donation-requests-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 30em;
    margin-top: 5em;
}