.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8.5em;
}

h2 {
    font-family: 'montserrat';
    font-size: 1.5em;
    color: black;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 239, 244);
    padding: 2em;
    border-radius: 1em;
    gap: 1em;
    width: 30%;
    height: 30%;
}

.login-form-label {
    font-family: 'montserrat';
    font-size: 1.5em;
    color: black;
    margin-right: .5em;
}

.form-input {
    font-family: 'montserrat';
    font-size: 1.5em;
    padding: 5px;
    border-radius: .5em;
}

.label-input-container{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
    font-size: 1.8em;
    color: white;
    background: #025779;
    border-radius: .5em;
    border: none;
    height: 2em;
    width: 25%;
    margin-bottom: 2em;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    margin-top: 1em;
}

.login-button:hover {
    transform: scale(1.1);
}